$--menu-background-color: #545c64;
$--menu-text-color: #fff;
$--menu-active-text-color: #ffd04b;

.vap-container {

    &_aside {
        background: $--menu-background-color;

        &-menu {
            height: 100%;
        }
    }

    &_header {
        background: #fff;
        border-bottom: 1px solid #ddd;
        box-shadow: 2px 2px 5px #ddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_main {
        background: #fcfcfc;
    }
}

:export {
    menuBackground: $--menu-background-color;
    menuText: $--menu-text-color;
    menuActiveText: $--menu-active-text-color;
}
